/*step:- 1 */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/*step:- 2 */
body{
    background: #080808;
    color: #fff;
}

/*step:- 3 */
#header{
    width: 100%;
  height: 110vh;
    background-image: url(images/bg72209527);
    background-size: cover;
    background-position: center;
}

.logo {
    margin: 5px;
    color: #fff;
    font-size: 50px;
}
.logo span{
    color:orangered;
    font-size: 50px;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex; 
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style:none ;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;/*remove underline.*/
    font-size: 18px;
    position: relative;
}
    
nav ul li a::after{
    content: '';
    width: 0;
    height: 2.5px;/*height of linr*/
    background: orangered;
    position: absolute;
    left: 0;/* line starting from left*/
    bottom: -2px;/*lining*/
    transition: 0.6s;/*timing of line*/
}

nav ul li a:hover::after{   
    width: 100%;/*width of line*/
}

.header-text{
    margin: 20%;
    margin-left: 9px;
    font-size: 23px;
}
.header-text h1{
    font-size:60px;
    margin-top: 20px;   
}

.header-text h1 span{
    color:orangered;
}
/* -------------about------------------- */

#about{
    padding: 80px 0;
    color: #ababab ;
}
.row{
    display: flex; /* display content line by line*/
    justify-content: space-between; /* space between them*/
    flex-wrap: wrap;/* study this in detail*/
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%; /*in col-1 and col-2 5% space is free between them*/
}

.sub-title{
    padding-top: 15px;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-info{
    padding-top: 10px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2.5px;
    background:orangered;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;/*remove the bullets sign comes form ul li*/
    margin: 10px 0;
}

.tab-contents  span{
    color: orangered;
    font-size: 14px;
}

.tab-contents{
    display: none;/* hide the content*/
}
.tab-contents.active-tab{
    display:block ;/*visible th content*/
}

/*-------------services---------------*/

.services{
    padding: 30px 0;
}

.services-list{
/* this grid features provide your content in grid form in coloumns*/
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:  300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{ 
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background:orangered;
    transform: translate(-10px);
}

/* <!-------------myWork--------------- */
#myWork{
    padding: 50px 0;
}

.work-list{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(0,0,0,0.6), orangered);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    margin-bottom: 20px;
    font-weight: 500;
}
.layer a{
    margin-top: 20px;
    color: oranged;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid orangered;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
}

.btn:hover{
    background: orangered;
}

/* --------------contact----------*/

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:oranged;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #ababab;
    font-size: 30px;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color:oranged ;
    transform: translateY(-5px)/* this line help to move the icon hover */
}

.btn.btn2{
    display: inline-block;
    font-size: large;
    background:oranged ;
    transition: transform 0.5s;
}

.btn.btn2:hover{
    background: orangered;
}


.contact-right form{
    width: 100%;
}
form input, form  textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 15px;
    margin-top: 25px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 25px;
}
.copyright i{
    color: orangered;
}

/*-------------css for small screen-------*/

nav .fas{
    display: none;
}
@media only screen and (max-width: 600px)
{
    #header{
        background-image: url(images/phone-bg72209527);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font: 25px;
    }
    nav ul{
        background: orangered;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 200vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.7s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

    
}